<section
  class="flex md:flex-row flex-col overflow-hidden md:px-[100px] px-[16px] bg-[#F2F0F1]"
>
  <div class="flex-1/2 items-center my-auto">
    <h1
      class="text-[clamp(36px,5vw,64px)] max-md:mt-[40px] md:leading-14 leading-10 font-[900] text-pretty line-hight"
    >
      FIND CLOTHES THAT MATCHES YOUR STYLE
    </h1>
    <p
      class="text-[16px] my-[20px] md:my-[32px] text-balance text-[#000000]/60"
    >
      Browse through our diverse range of meticulously crafted garments,
      designed to bring out your individuality and cater to your sense of style.
    </p>
    <button-comp
      class="mb-[48px] w-full md:max-w-[210px]"
      text="Shop Now"
    ></button-comp>
    <div class="flex flex-wrap items-stretch justify-center gap-[32px]">
      @for (item of statisticsData; track $index) {
      <div>
        <h1 class="text-[40px] font-medium">
          {{ item.number | dotSeparator }} +
        </h1>
        <p class="text-[#000000]/60">{{ item.about }}</p>
      </div>
      @if ($index!=statisticsData.length-1) {
      <div class="bg-[#000000]/10 w-[1px]"></div>
      } }
    </div>
  </div>
  <div class="relative">
    <img src="./images/hero-models.png" class="w-full" alt="" />
    <app-svg-icon
      icon="star"
      [size]="56"
      class="absolute top-[50px] md:top-[150px]"
    ></app-svg-icon>
    <app-svg-icon
      icon="star"
      [size]="104"
      class="absolute md:top-[50px] top-[10px] right-[0px]"
    ></app-svg-icon>
  </div>
</section>
<section class="bg-black gap-[10px] flex flex-wrap justify-around items-center">
  @for (item of [1,2,3,4,5]; track $index) {
  <app-svg-icon [icon]="`logos/logo(${item-1})`" [size]="100"></app-svg-icon>
  }
</section>
